@import "form_variables.scss";
@import "form_mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $color_BGcolor;
}

.wrapper-form {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    color: #ffffff;
    @include Wrapper-form_Fieldset();
    height: 100vh;
    height: 100dvh;
}


@keyframes FadeInUp {
    from {
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fieldset {
    opacity: 0;
    animation: FadeInUp 2.5s ease forwards;
    @include Wrapper-form_Fieldset();
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 3px solid $text_borderBG_color;
    transition: 0.4s;
    width: clamp(200px, 25%, 450px);
    margin: 0 auto;

    .legend {
        font-size: 2rem;
        text-align: center;
        color: $text_borderBG_color;
    }

    .form__text {
        font-size: 1.3rem;
    }

    input {
        border-radius: 20px;
        padding: 10px;

        &:focus {
            outline: none;
            box-shadow: 0 0px 15px $text_borderBG_color;
            border-color: $text_borderBG_color;
        }

        &::placeholder {
            font-style: italic;
            font-size: 1rem;
        }
    }
}

@media(max-width: 220px) {
    input {
        max-width: 150px;
    }
}

.checkbox-wrapper {
    text-align: center;


    .text__terms {
        font-size: 1.2rem;
    }

    .link-terms {
        color: $text_borderBG_color;
    }
}

.submit__button {
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 20px;
    max-width: 100px;
    background-color: $color_BGcolor;
    border: 3px solid $text_borderBG_color;
    color: $text_borderBG_color;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover {
        background-color: $text_borderBG_color;
        color: $color_BGcolor;
        box-shadow: 0 0 15px $text_borderBG_color;
    }

    &:nth-of-type(1) {
        margin-top: 10px;
    }

    &:nth-of-type(2) {
        margin-bottom: 10px;
    }
}