* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text_border_bg_color: #00ffcc;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0a0a0a;
}

.wrapper-form {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes FadeInUp {
    from {
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fieldset {
    opacity: 0;
    animation: FadeInUp 2.5s ease forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 3px solid var(--text_border_bg_color);
    transition: 0.4s;
    width: 100%;
    max-width: 350px;
}

.legend {
    font-size: 2rem;
    text-align: center;
    color: var(--text_border_bg_color);
}

.form__text {
    font-size: 1.3rem;
}

input {
    border-radius: 20px;
    padding: 10px;
}

@media(max-width: 220px) {
    input {
        max-width: 150px;
    }
}


input:focus {
    outline: none;
    box-shadow: 0 0px 15px var(--text_border_bg_color);
    border-color: var(--text_border_bg_color);
}

::placeholder {
    font-style: italic;
    font-size: 1rem;
}

.checkbox-wrapper {
    text-align: center;
}

.text__terms {
    font-size: 1.2rem;
}

.link-terms {
    color: var(--text_border_bg_color);
}

.submit__button {
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 20px;
    max-width: 100px;
    background-color: #0a0a0a;
    border: 3px solid var(--text_border_bg_color);
    color: var(--text_border_bg_color);
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.submit__button:nth-of-type(1) {
    margin-top: 10px;
}

.submit__button:nth-of-type(2) {
    margin-bottom: 10px;
}


.submit__button:hover {
    background-color: var(--text_border_bg_color);
    color: #0a0a0a;
    box-shadow: 0 0 15px var(--text_border_bg_color);
}